body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

section {
    padding: 50px 0;
}

section h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.heading3 {
    font-size: 20px;
    color: rgb(185, 9, 185);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.two-column-list {
    list-style-type: none;
    column-count: 2;
    column-gap: 20px;
}

.two-column-list li {
    margin-bottom: 10px;

}
footer p {
    margin: 0;
}
/* Contact us */

.container::after {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.contact-form {
    display: inline-block;
    text-align: left;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.submit-button:hover {
    background-color: #0056b3;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-container {
    background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}